@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --white--: #ffffff;
  --black--: #000000;
  --parchment--: #e9c664;
  --parchment-op81--: rgba(233,198,100,0.8137); /* E9C664 com 81.37% de opacidade */
  --dark-gray--: #212121;
  --medium-gray--: #979797;
  --tan--: #be9359;
  --very-dark-gray--: #262626;
  --parchment-rgb--: 233, 198, 100;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5{
  font-family: "Abril Fatface", serif;
}
