.footer {
  display: flex;
  flex-direction: column;
  background: var(--white--);
}

.section-header-footer h1 {
  margin-top: -20px;
  padding-left: 13px;
  letter-spacing: 2px;
}

.section-header-footer p {
  padding-left: 13px;
}

.section-header-footer img {
  width: 100px;
}

.link-footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 13px;
}

.link-footer h2 {
  font-weight: 550;
  letter-spacing: 2px;
}

.link-footer a {
  color: var(--black--);
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 0px 0px 7px;
}

.link-footer a:hover {
  color: var(--parchment-op81--);
  transition: ease-in 0.3s;
}

footer .fa-arrow-right {
  color: var(--parchment--);
}

.footer-contact h2 {
  margin-left: 13px;
  letter-spacing: 2px;
  font-size: 26px;
  margin-top: 13px;
}

.footer-contact {
}

.info-top-footer {
  display: flex;
  align-items: center;
}

.info-top-footer h3 {
  color: var(--black--);
}

.info-top-footer a {
  color: var(--black--);
  text-decoration: none;
}

.footer-contact .info-item a {
  color: var(--black--);
}

footer hr {
  border: none;
  height: 1px;
  background-color: var(--parchment--);
  margin: 20px auto;
  width: 95%;
}

.copyright-footer {
  text-align: center;
}
.developer {
  color: var(--medium-gray--);
  font-size: 12px;
}
